<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well well-large" style="height: 140px;">
    <div class="pull-right">
        <img src="{{deputy.avatar(128)}}" class="img-polaroid">
    </div>
    <h1>{{deputy.name}}</h1>
    {% if not g.user.is_following(deputy) %}
    <a href="{{url_for('follow', name = deputy.name.encode('ascii','ignore'))}}">{{ _('Follow') }}</a>
    {% else %}
    <a href="{{url_for('unfollow', name = deputy.name.encode('ascii','ignore'))}}">{{ _('Unfollow') }}</a>
    {% endif %}
    {% if deputy.bio %}<p>{{deputy.bio}}</p>{% endif %}
    
</div>
{% for project in projects.items %}
    {% include 'project.html' %}
{% endfor %}
<ul class="pager">
    {% if projects.has_prev %}
    <li class="previous"><a href="{{ url_for('deputy', name = deputy.name, page = projects.prev_num) }}">{{ _('Newer posts') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Newer posts') }}</a></li>
    {% endif %}
    {% if projects.has_next %}
    <li class="next"><a href="{{ url_for('deputy', name = deputy.name, page = projects.next_num) }}"> {{ _('Older posts') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Older posts') }}</a></li>
    {% endif %}
</ul>
{% endblock %}