<table class="table table-hover">
    <tr>
        <td width="70px"><a href="{{url_for('deputado', nome = projeto.deputado.nome)}}"><img src="{{projeto.deputado.avatar(70)}}" /></a></td>
        <td>
            {% autoescape false %}
            <p>{{ _('Projeto de lei %(nomeProjeto)s criado por %(nomeDep)s:', nomeDep = '<a href="%s">%s</a>' % (url_for('deputado', nome = projeto.deputado.nome), projeto.deputado.nome), nomeProjeto = projeto.nome) }}</p>
            {% endautoescape %}
            
            <p><strong>{{projeto.texto}}</strong></p>
        </td>
    </tr>
</table>